# Created by https://www.toptal.com/developers/gitignore/api/code
# Edit at https://www.toptal.com/developers/gitignore?templates=code

### Code ###
node_modules
package-lock.json
package.json
settings.json
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# End of https://www.toptal.com/developers/gitignore/api/code
