[submodule "desenvolvimento_front-end/MODULO_16/dia_02/desenvolvimento_front-end/MODULO_16/dia_02/exercise-react-with-redux-intro"]
	path = desenvolvimento_front-end/MODULO_16/dia_02/desenvolvimento_front-end/MODULO_16/dia_02/exercise-react-with-redux-intro
	url = git@github.com:tryber/exercise-react-with-redux-intro.git
