* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: white;
  font-size: 1.3rem;
  margin: auto;
  width: 90%;

}
h1 {
  display: block;
  font-size: 1.7rem;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}
h2 {
  font-size: 1.6rem;
  margin-bottom: 10px;
  text-align: center;
}

img {
  border: black solid 5px;
  margin: auto;
  padding: 5px;
}

figure {
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 65px;
}

p {
  margin: auto 2%;
  text-align: justify;
  text-indent: 1.5rem;
}
.titulo {
  background-color: blueviolet;
  height: 10%;
  position: absolute;
  width: 90%;
  
}

@media screen and (min-width: 580px) and (max-width: 720px) {
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.2rem;
  }

}
@media screen and (min-width:721px) {
  .imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
  }

  .main-content {
    background-color: aqua;
  }

}