* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-image: url('https://picsum.photos/id/3/800');
  background-size: cover;
}

.centro {
  background-color: #333;
  display: flex;
  height: 100%;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

h3 {
  margin-top: 10px;
}

.left-column {
  background-color: blue;
  width: 100%;
}

p {
  margin: 10px 20px;
  text-align: justify;
  text-indent: 1.5rem;
}

.right-column {
  background-color: aqua;
  width: 100%;
}

.topo {
  background-color: white;
  height: 20%;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 558px) {
  .right-column {
    background-color: aqua;
    width: 50%;
  }

  .left-column {
    background-color: blue;
    width: 50%;
  }
}
